<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  
  </head>
  <body>
      <div id="container">
        <div class="item item-1" id="1">
          EOS共识机制效用<br>
          可视分析系统
          <div id="like_button_container">

          </div>
        </div>
        <div class="item item-2" id="rank"></div>
        <div class="item item-3" id="3"></div>
        <div class="item item-4" id="4">
          
        </div>
        <div class="item item-5" id="place"></div>
      </div>





    <script src="/javascripts/d3.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/javascripts/view1.js"></script>
    <!-- 加载 React。-->
    <!-- 注意: 部署时，将 "development.js" 替换为 "production.min.js"。-->
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/antd/4.0.0/antd.js"></script>
    <!-- 加载我们的 React 组件。-->
    <script src="/javascripts/like_button.js"></script>
  </body>
</html>